# top-most EditorConfig file
root = true

[*]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.py]
indent_style = spaces
indent_size = 4
charset = utf-8

[*.gd]
indent_style = tab
indent_size = 4
charset = utf-8

[{*.rb,Gemfile,Berksfile}]
indent_style = space
indent_size = 2

[*.go]
indent_style = tab
indent_size = 4

[*.{rs,toml}]
indent_size = 4
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

[*.{c,cpp,h}]
indent_style = tab
indent_size = 4

[*.{yaml,yml}]
indent_style = space
indent_size = 2
